<?xml version="1.0"?>
<!--
  Copyright 2017 cartographer_hokuyo3d authors
  All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:

  * Redistributions of source code must retain the above copyright
  notice, this list of conditions and the following disclaimer.
  * Redistributions in binary form must reproduce the above copyright
  notice, this list of conditions and the following disclaimer in the
  documentation and/or other materials provided with the distribution.
  * Neither the name of the copyright holder nor the names of its 
  contributors may be used to endorse or promote products derived from 
  this software without specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="rviz" default="true" />
  <arg name="use_log" default="false" />
  <arg name="bag_file" default="" />
  <arg name="record" default="false" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node"
      args="-configuration_directory $(find cartographer_hokuyo3d)/configuration_files
            -configuration_basename hokuyo3d_single.lua" output="screen">
    <remap from="/imu" to="/imu/data" />
    <remap from="points2" to="/cloud" />
  </node>

  <node pkg="hokuyo3d" type="hokuyo3d" name="hokuyo3d"
      respawn="true" unless="$(arg use_log)">
    <param name="output_cycle" value="line" />
    <remap from="~/hokuyo_cloud2" to="/cloud" />
    <remap from="~/imu" to="/imu/data_raw" />
  </node>

  <param name="robot_description" command="cat $(find cartographer_hokuyo3d)/configuration_files/hokuyo3d.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
    <param name="use_mag" type="bool" value="false" />
    <param name="publish_tf" type="bool" value="false" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" respawn="true"
      args="-d $(find cartographer_hokuyo3d)/configuration_files/demo_3d.rviz" if="$(arg rviz)" />

  <node pkg="rosbag" type="record" name="rosbag_record"
      args="-O $(arg bag_file) /cloud /imu/data_raw"
      output="screen" if="$(arg record)" />

</launch>
